@media screen and (min-width: 480px) { 
  
  /**************************
  TWO COLUMN LAYOUT
  ***************************/
  
  #primary {
    width: 50%;
    float: left;
    }
  
  #secondary {
    width: 40%;
    float: right;
    }

  /**************************
  THREE COLUMN FOR PORTFOLIO
  ***************************/
  
  /* with 5 % margin (100-85)/3= 28.3333%  - in the gallery li style we had 2,5% margin 4 times for 2 columns */

  #gallery li {
     width: 28.3333%;
    }

   #gallery li:nth-child(4n) {
    clear:left;
    }

  /**************************
  ABOUT
  ***************************/
  .profile-pic {
    float: left;
    margin: 0 5% 80px 0;
    }
} /* end of 480 or wider */



@media screen and (min-width: 660px) { 
  
  /**************************
  HEADER
  ***************************/
  
  /* on larger screens we want the menu items on the right, not under the title - push nav to the right and logo to the left  and make the title bigger */
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
   }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
   }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #037666;
    margin-bottom: 40px;
  }
  
  }  /* end of 480-660 */

